{% extends 'learning_logs/base.html' %}

{% block page_header %}
  <h1>Thanksgiving Recipes</h1>
{% endblock page_header %}

{% block content %}
  {% for category in recipes|dictsort:"category" %}
    <h2>{{ category.category }}</h2>
    <ul class="list-group mb-4">
      {% for recipe in recipes %}
        {% if recipe.category == category.category %}
          <li class="list-group-item border-0">
            <a href="{% url 'recipes:recipe_detail' recipe.id %}">
              {{ recipe.title }}
            </a>
          </li>
        {% endif %}
      {% endfor %}
    </ul>
  {% empty %}
    <p>No recipes added yet.</p>
  {% endfor %}
{% endblock content %}

